.card{
  max-width: 413px;
}

.card__title{
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__image{
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  margin: 0;
}

.card__like-btn{
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: #6B6B6B;
  opacity: 40%;
  -webkit-mask-image: url('../images/heart.svg');
  mask-image: url('../images/heart.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

}
.card__like-btn:hover{
  opacity: 100%;
}

.card__like-btn_active {
  background-color: #FF0000;
  opacity: 100%;
}

.card__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card{
    max-width: 288px;
  }
  .card__image{
    height: 288px;
    width: 288px;
  }

  .card__title{
    width: 95px;
    font-size: 16px;
    line-height: 100%;
  }
  .card__description{
    font-size: 16px;
    line-height: 100%;
  }

  .card__like-btn{
    width: 23px;
    height: 20px;
  }

}